@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================================== */
/* Custom properties and general styles */
/* ==================================== */

:root {
  --ff-main: 'Inter', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;
  --fs-100: 6.25em;

  --clr-white: hsl(0, 0%, 100%);
  --clr-almost-black: hsla(0, 0%, 19%, 1);
  --clr-black: hsla(0, 0%, 0%, 1);
  --clr-grey: hsl(0, 0%, 60%);
  --clr-dark-grey: hsl(0, 0%, 41%);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-white);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.8333;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

.quote__sentence {
  font-size: var(--fs-12);
}

.quote__author {
  font-size: var(--fs-12);
  font-weight: var(--fw-bold);
}

.greeting__sentence {
  font-size: var(--fs-15);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.digits {
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  letter-spacing: -2.5px;
}

.timezone {
  font-size: var(--fs-15);
  font-weight: var(--fw-light);
  letter-spacing: 0;
}

.area__text {
  font-weight: var(--fw-bold);
  font-size: var(--fs-15);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.info__prop {
  color: var(--clr-almost-black);
  font-size: var(--fs-10);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.info__value {
  color: var(--clr-almost-black);
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
}

/* ================== */
/* Links */
/* ================== */

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  border-radius: 2em;
  color: var(--clr-dark-grey);
  font-family: inherit;
  font-size: var(--fs-12);
  font-weight: var(--fw-bold);
  letter-spacing: 3.75px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  padding: 0 0.25em 0 1.15em;
  border: none;

  cursor: pointer;
}

.btn.btn--more.hide {
  display: none;
}

.btn.btn--less {
  display: none;
}
.btn.btn--less.show {
  display: flex;
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
  background: linear-gradient(to bottom, hsl(240, 2%, 62%), rgb(122, 117, 117)),
    url('./assets/mobile/bg-image-daytime.jpg');
  background-blend-mode: darken;
  background-size: cover;

  height: 100vh;

  overflow: hidden;
}

.wrapper.nighttime {
  background: url('./assets/mobile/bg-image-nighttime.jpg') no-repeat;
  background-size: cover;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* UPPER */
.upper {
  height: 100%;

  padding: 2em 1.635em 2.5em;
}

.upper.split {
  height: 63%;
  padding-top: 6.1875em;
}

.upper.split .time {
  margin-top: 0.25em;
}

.upper.split .btn-area {
  margin-top: 2em;
}

.upper__content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.quote {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.quote.split {
  display: none;
}

.quote__author {
  margin-top: 0.5em;
}

.greeting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.icon--moon {
  display: none;
}

.icon--sun {
  display: none;
  padding-top: 0.5em;
}

.desktop-phrase {
  display: none;
}

.time {
  margin-top: 1em;
}

.digits {
  line-height: 1;
}

.area {
  margin-top: 1em;
}

.btn-area {
  margin-top: 3em;
}

.icon {
  margin-top: 0.2em;
}
.icon--more svg {
  transform: rotate(180deg);
}

/* LOWER  */
.lower {
  display: none;
}

.lower.visible {
  display: block;
  height: 37%;

  backdrop-filter: blur(20px) saturate(100%) contrast(25%) brightness(170%);
}

.lower.visible.nighttime {
  background: var(--clr-black);
}

.lower.visible.nighttime .info__value,
.lower.visible.nighttime .info__prop {
  color: var(--clr-white);
}

.lower__content {
  padding: 2.5em 1.635em;
}

.info {
  display: flex;
  flex-direction: column;
}

.info__el {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 0.5em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  /* Typography */
  .quote__sentence,
  .quote__author,
  .greeting__sentence,
  .area__text {
    font-size: var(--fs-18);
  }

  .quote__author {
    font-size: var(--fs-18);
  }

  .greeting__sentence {
    letter-spacing: 3.6px;
  }

  .digits {
    font-size: 175px;
    letter-spacing: -4.38px;
  }

  .timezone {
    font-size: var(--fs-32);
  }

  .area__text {
    letter-spacing: 3.6px;
  }

  .info__prop {
    font-size: var(--fs-13);
    letter-spacing: 2.6px;
  }

  .info__value {
    font-size: var(--fs-40);
    line-height: 1.2;
  }

  /* Buttons & inputs */
  .btn {
    font-size: var(--fs-16);
    letter-spacing: 5px;

    gap: 0.8em;
    padding: 0.25em 0.45em 0.25em 1.25em;
  }

  /* Utility styles */
  .wrapper {
    background: linear-gradient(to bottom, hsl(240, 2%, 62%), rgb(122, 117, 117)),
      url('./assets/tablet/bg-image-daytime.jpg') no-repeat;
    background-size: cover;
  }

  .wrapper.nighttime {
    background: url('./assets/tablet/bg-image-nighttime.jpg') no-repeat;
    background-size: cover;
  }

  /* SECTIONS */

  /* Upper */
  .upper {
    padding: 5em 8.175em 4em 4em;
  }

  .upper.split {
    height: 58%;
    padding-top: 9.15em;
  }

  .upper.split .time {
    margin-top: 0em;
  }

  .upper.split .btn-area {
    margin-top: 5em;
  }

  .desktop-phrase {
    display: inline-block;
  }

  .time {
    margin-top: 0;
  }

  .timezone {
    margin-left: 0.6em;
  }

  .area {
    margin-top: 0;
  }

  .btn-area {
    margin-top: 5em;
  }

  /* Lower */
  .lower.visible {
    display: block;
    height: 42%;
  }

  .lower__content {
    padding: 7.425em 10.5em 7.425em 4em;
  }

  .info {
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
  }

  .info--b {
    margin-top: 3em;
  }

  .info__el {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 0;

    min-width: 155px;
  }
}

/* Laptop */
@media (min-width: 1030px) {
  /* Typography */
  .greeting__sentence {
    font-size: var(--fs-20);
    letter-spacing: 4px;
  }

  .digits {
    font-size: 200px;
    letter-spacing: -5px;
  }

  .timezone {
    font-size: var(--fs-40);
  }

  .area__text {
    font-size: var(--fs-24);
    letter-spacing: 4.8px;
  }

  .info__prop {
    font-size: var(--fs-15);
    letter-spacing: 3px;
  }

  .info__value {
    font-size: var(--fs-56);
  }

  /* Buttons & inputs */
  .btn {
    letter-spacing: 5px;

    gap: 0.8em;
    padding: 0.25em 0.45em 0.25em 1.325em;
  }

  /* SECTIONS */

  /* Upper */
  .upper {
    padding: 3.5em 4.25em 6.125em;
  }

  .quote {
    max-width: 575px;

    justify-content: flex-start;
    gap: 1em;
  }

  .main--upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .greeting {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
  }

  .time {
    grid-column: 1 /2;
    grid-row: 2/3;
  }

  .btn-area {
    grid-column: 2/3;
    grid-row: 2/2;
    align-self: flex-end;
    justify-self: end;
  }
}
